*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    background-color: yellow;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

nav li a{
    text-decoration: none;
    color: black;
    padding: 20px;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #f2f2f2;
}

.form-container {
	width: 400px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 40px;
}

.toggle-btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.toggle-btn span {
	cursor: pointer;
	color: #333;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
}

.toggle-btn span.active {
	color: #f00;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
	display: block;
	width: 100%;
	border: none;
	background-color: #f2f2f2;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 16px;
	color: #333;
}

form button[type="submit"] {
	display: block;
	width: 100%;
	padding: 10px;
	border: none;
	background-color: #f00;
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
}

form button[type="submit"]:hover {
	background-color: #c00;
}
