#favourite-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    gap: 2%;
}


#favourite-container > div > img {
    width: 70%;
    height: 300px;
    display: block;
    margin: auto;
    padding: 10px;
}


#favourite-container > div > button {
    display: block;
    margin: auto;
    padding: 5px 10px;
    font-weight: 550;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}