body {
  font-family: sans-serif;
}
#menu {
  text-align: center;
  margin-top: 50px;
}
#show_products {
  padding: 5px 10px;
  border: 2px solid black;
  font-size: 18px;
  background-color: black;
  color: white;
}
#show_products:hover {
  cursor: pointer;
  background-color: transparent;
  color: black;
}
body > #menu + div {
  width: 450px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px 30px 40px 30px;
  display: flex;
  flex-direction: column;
}
#product_form {
  display: flex;
  flex-direction: column;
}
input {
  margin-top: 20px;
  padding: 10px 15px;
  border: 1px solid rgb(197, 197, 197);
  font-size: 16px;
}
#submit {
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid black;
  background-color: transparent;
}
#submit:hover {
  cursor: pointer;
  background-color: transparent;
  background-color: black;
  color: white;
}
