h1 {
  font-size: 30px;
  text-align: center;
}

.filter-sort {
  width: 20%;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
}
.container {
  height: auto;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  gap: 20px;
}

.divs {
  height: auto;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
}

.divs img {
  height: 250px;
  width: 30%;
  margin-right: 10px;
}
