
#bucket {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 0 50px;
}
.coffee {
    text-align: center;
    border: 1px solid brown;
    padding: 10px;
}

.coffee>img {
    width: 100%;
    height: 350px;
}

#confirm_checkout {
    padding: 10px;
    font-size: x-large;
    background-color: rgb(74, 232, 179);
    border: none;
    color: white;
    margin: 50px 40%;
}