#navbar{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid;
    justify-content: space-between;
}
#options{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

#container{
    border: 1px solid red;
}