#sidebar {
  display: flex;
  flex-direction: column;
  background-color: #feecce;
  padding: 0px 50px;
  padding-top: 50px;
}
#sidebar button {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 15px;
  text-align: left;
  background-color: #37767c;
  border: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
}
#sidebar button:hover {
  cursor: pointer;
}
#sidebar a {
  text-decoration: none;
}
